@import 'tailwindcss';
@plugin 'lightswind/plugin';
:root {
  --background: rgb(250, 245, 235);
  --foreground: #4B2E2B;
  --wedding-wine: #622B14;
  --text-color-1: #C08552;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, sans-serif
}

.font-serif {
  font-family: Cormorant Garamond, serif
}

.font-script {
  font-family: Great Vibes, cursive
}


.leading-relaxed {
  line-height: 1.625;
}


